@import '../../constants/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border: 1px solid $dark-grey;
  margin: 25px 0;
  @include rwd(320) {
    max-width: 320px;
  }
  @include rwd(375) {
    max-width: 370px;
  }
  @include rwd(425) {
    max-width: 420px;
  }
  @include rwd(700) {
    max-width: 800px;
  }
  a {
    margin: 0.625rem;
    text-decoration: none;
    overflow-wrap: break-word;
    h3 {
      color: $dark-grey;
      font-size: 1.375em;
    }
    p:nth-child(2) {
      color: $dark-grey-two;
      font-size: 1.125em;
      margin: 10px 0;
    }
    p:nth-child(3) {
      color: $red;
    }
    p:nth-child(4) {
      margin-top: 0.625rem;
      font-size: 0.75em;
      color: #444f5a;
    }
  }
}
