$blue: #5e6da3;
$dark-grey: #222831;
$dark-grey-two: #252a34;
$red: #ba4c43;
$extra-small: 320px;
$small: 370px;
$small-M: 425px;

//responsive mixin
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
@mixin max-rwd($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}
