@import '../../constants/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin: 1.625rem auto;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    display: flex;
    justify-content: center;
  }
  input[type='text'] {
    font-size: 1.25em;
    padding: 5px;
    height: 100%;
    @include rwd(320){
      max-width: 190px;
    }
  }
  input[type='submit'] {
    width: 80px;
    height: 37px;
    background-color: $blue;
    border: 0;
    color: #f4f3f3;
    font-size: 1em;
    margin-left: 16px;
  }
}
